body {
    background: url('../Images/bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin-bottom: 10px;
}

button {
    box-shadow: none !important;
}

button.btn-secondary:hover {
    transition: 0.1s linear;
}

button.btn-secondary:hover {
    background: #0069d9;
    border-color: #0062cc;
}

#main-wrapper>div {
    position: relative;
}